#connected {
    font-size: 15px;
    color: GREEN;
    margin-right: 20px;
    text-align: right;
}

#not_connected {
    font-size: 15px;
    color: RED;
    margin-right: 20px;
    text-align: right;
}

.card_form {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 50px; /* Added */
    margin-left: 300px;
    margin-right: 300px;
}

.vueListe {
    margin-left: 30px;
}

#list_form {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 100px;
}

.card-deck {
    margin-right: 30px;
}