#connected {
    font-size: 15px;
    color: GREEN;
    margin-right: 20px;
    text-align: right;
}

#not_connected {
    font-size: 15px;
    color: RED;
    margin-right: 20px;
    text-align: right;
}

.box_list{
    margin-bottom: 30px;
}

.card_form {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 50px; /* Added */
    margin-left: 300px;
    margin-right: 300px;
}

.card_listePvForm {
    margin-left: 300px;
    margin-right: 300px;
}

.vueListe {
    margin-left: 30px;
    margin-right: 30px;
}

.vueAccueil {
    margin-left: 20px;
    margin-right: 20px;
}

#list_form {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.card-header p {
    color: #122b40;
    font-variant: small-caps;
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

.deconnexion {
    margin-top: 10px;
}

.image_item {
    height: 15vw;
    object-fit: cover;
}

.Itembox {
    margin-bottom: 15px;
}

.bouton_footer {
    margin-bottom: 15px;
}

.box_item {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.info_item {
    margin-top: 15px;
    font-size: 23px;
}

.info_item h5 #titre_item {
    font-size: 30px;
    font-weight: bold;
}
.box_item img {
    width: 450px;
    height: auto;
}

.box_item .card-header {
    width: 450px;
    height: auto;
}

.nom_item {
    font-size: 23px;
    font-weight: bold;
}

.vueAccueil h3 {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-left: 20px;
}

.vueParticipant h3 {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-left: 40px;
}

/*image upload*/
#upload {
    opacity: 0;
}

#upload2 {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

#imageResult {
    width: 350px;
    height: auto;
}

.container_img {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: auto;
    margin-top: auto;
}