#connected {
    font-size: 15px;
    color: GREEN;
    margin-right: 20px;
    text-align: right;
}

#not_connected {
    font-size: 15px;
    color: RED;
    margin-right: 20px;
    text-align: right;
}

.card_form {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 20px; /* Added */
    margin-left: 300px;
    margin-right: 300px;
}